<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <context-param>
    <param-name>extremecomponentsPreferencesLocation</param-name>
    <param-value>/extremetable.properties</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>/tld/extremecomponents</taglib-uri>
      <taglib-location>/WEB-INF/tld/extremecomponents.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>newsServlet</servlet-name>
  	<servlet-class>servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>newsServlet</servlet-name>
  	<url-pattern>/news</url-pattern>
  </servlet-mapping>
</web-app>