

#addNewsForm{
	margin: 0 auto;
}
h1{text-align: center;}
.btn{
	position:absolute;
	width:640px;
	bottom:-15px;
}
.returnBtn{
	margin-left:50px;
	cursor: pointer;
}
.submitBtn{
	float:right;
	margin-right:50px;
	cursor: pointer;
}