h1 {
	text-align: center;
}

.tableA {
	margin: 0 auto;
	width: 550px;
	text-align: center;
	font-family: verdana, arial, sans-serif;
	font-size: 20px;
	color: #333333;
	border-width: 0px;
	border-color: #999999;
	border-collapse: collapse;
	overflow-y: auto;
}

.tableA th {
	background: #b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

.tableA td {
	background: #dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
